* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background: linear-gradient(#AEC6E0, #6D9CCE) no-repeat;
    background-size: contain;
    height: auto;
}

nav {
    height: 8.434vh;
    width: 100%;
    background-color: #ECF3FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8.434vh;
    height: 9.639vh;
    border-right: 0.241vh solid #BDC2C8;
}

.logo {
    width: 4.819vh;
    height: 4.819vh;
}

nav h1 {
    font-size: 4.819vh;
    font-weight: 700;   
    color: #394452;
    text-align: center;
    margin-left: 3.614vh;
    user-select: none;
}

.language-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3.614vh;
}


.language-button {
    position: relative;
    width: 14.458vh;
    height: 4.819vh;
    border-radius: 2.41vh;
    background-color: #394452;
    cursor: pointer;
}

.language-button ::before {
    position: absolute;
    font-size: 1.928vh;
    content: "ENG";
    width: 6.627vh;
    height: 3.614vh;
    background-color: #AEC6E0;
    border-radius: 1.928vh;
    margin: 0.602vh 1.205vh;
    text-align: center;
    align-content: center;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    color: #394452;
    transition: .5s;
}

.language-box input:checked + .language-button ::before{
    content: "THA";
    transform: translateX(5.422vh);
}

.language-box input {
    display: none;
}

.portfolio-container {
    display: grid;
    justify-content: center;
}

.portfolio-container img {
    transition: .5s all;
    width: 60.241vh;
}



@media (max-width:800px) {
    .portfolio-container img { 
        width: 48.193vh;
    }
}



@media (max-width:550px) {
    nav h1 {
        font-size: 3.373vh;
    }

    .portfolio-container img { 
        width: 36.145vh;
    }
}



@media (max-width:550px) {
    nav h1 {
        font-size: 2.41vh;
    }
}



@media (max-width:410px) {
    nav h1 {
        font-size: 1.928vh;
    }
}